
.titrecata{
    font-size: 5vw;
    font-weight: bold;
    font-family: popins, sans-serif;
    color: #333333;
    margin: 5vh 3vw;
}
.swiper-wrapper {
    width: 100%;
    height: max-content !important;
    padding-bottom: 64px !important;
    -webkit-transition-timing-function: linear !important;
    transition-timing-function: linear !important;
    position: relative;
}
.swiper-pagination-bullet {
    background: #4f46e5;
}